@charset "utf-8";
.woodsize {
	font-size: 2rem;
	padding-top:1rem;
	float:left;
}
.price-tip {
	line-height: 2rem;
}
.price-box {
	float:right;
	margin-left: 3rem;
}
.number-tip {
	font-size:1.5rem;
	margin-right:11rem;
}

.size-tip {
	font-size:1.5rem;
	margin-right:16rem;
}
.total-tip {
	font-size:1.8em;
	color:#000;
}
red {
	color:#ff0000;
}
.wc-numbox {
	width:6rem;
	height:1rem;
	float:left;
}
